@import url(./reset.css);
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Varela+Round&display=swap');


:root {
    --bg: #1e2328;
    --am-forte: #EB9D02;
    --am-medio: #f5b301;
    --am-hover: #fed053;
    --rx4: #3A089B;
    --brc: #ffffff;
    --brc2: #f0f0f0;
    --cza: #7E8182;
    --cza-hover: #c2c3c3;
    --var-font: 'Varela Round';
    --mont-font: 'Montserrat';


}

body {
    background-color: var(--bg);
    color: var(--brc);
    font-family: var(--var-font);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1em 10em;
    padding: 1em;
}

.nav-list {
    display: flex;

}

 
.sinal {
    color: var(--am-medio);

}
.logo-nome {
    font-size: 28px;
    font-weight: 700;
    color: var(--brc2);
    letter-spacing: -.12em;
    
}
.logo-nome:hover {
    transition: 1s ease;  
    scale: 1.1;
}
.logo-nome span:hover {
    color: var(--amarelo);  
    transition: color 0.3s ease;  
    cursor: pointer;
    font-size: 28px;
}
 
 

.list-link {
    position: relative;
    color: var(--brc2);
    text-transform: uppercase;
    font-weight: 600;
    margin: 0 1em;
}

.list-link:hover {
    color: var(--cza-hover);
}

.list-link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 50%;
    background-color: var(--cza-hover);
    transition: width 0.3s ease-in-out, left 0.3s ease-in-out;

}

.list-link:hover::after {
    width: 100%;
    left: 0;

}
.sobremim-atividade {
    background: -moz-linear-gradient(288deg, rgba(245,179,1,1) 1%, rgba(235,157,2,1) 7%, rgba(255,132,0,1) 19%, rgba(250,139,1,1) 34%, rgba(253,148,11,1) 47%, rgba(253,148,11,1) 60%, rgba(250,169,25,1) 75%, rgba(245,199,45,1) 81%, rgba(245,199,45,1) 95%);
    background: -webkit-linear-gradient(288deg, rgba(245,179,1,1) 1%, rgba(235,157,2,1) 7%, rgba(255,132,0,1) 19%, rgba(250,139,1,1) 34%, rgba(253,148,11,1) 47%, rgba(253,148,11,1) 60%, rgba(250,169,25,1) 75%, rgba(245,199,45,1) 81%, rgba(245,199,45,1) 95%);
    background: linear-gradient(288deg, rgba(245,179,1,1) 1%, rgba(235,157,2,1) 7%, rgba(255,132,0,1) 19%, rgba(250,139,1,1) 34%, rgba(253,148,11,1) 47%, rgba(253,148,11,1) 60%, rgba(250,169,25,1) 75%, rgba(245,199,45,1) 81%, rgba(245,199,45,1) 95%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2em; 
    font-weight: bold;
}


.rodape {
    display: flex;
}
.social-lista {
    display: flex;
    flex-direction: column;
}


.svg-color {
    fill: var(--cza-hover);
    stroke-width: 0.3;
    width: 30px;
    height: 30px;
    padding: 0.3em;
}

.svg-color:hover {
    fill: var(--am-medio);
    stroke: var(--amarelo);
    transition: 0.3s ease-in;

    scale: 1.3;
}

 

.botao-topo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--am-medio);
    border: none;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition-duration: 0.3s;
    overflow: hidden;
    position: relative;

}

.svgIcon path {
    fill: var(--brc);
}

.botao-topo:hover {
    width: 140px;
    border-radius: 50px;
    transition-duration: 0.3s;
    background-color: var(--am-medio);
    align-items: center;
}

.botao-topo:hover .svgIcon {
    transition-duration: 0.3s;
    transform: translateY(-200%);
}

.botao-topo::before {
    position: absolute;
    bottom: -20px;
    content: 'Voltar ao topo';
    font-family: var(--var-font);
    color: var(--brc);
    font-size: 0px;

}
.botao-topo:hover::before {
    font-size: 13px;
    opacity: 1;
    bottom: unset;
    transition-duration: 0.3s ;
}
 

.svgIcon {
    width: 15px;
}